@model IEnumerable<Nasa.Apod.DataAccess.Data.EPIC.EPICImage>;
@{
    ViewData["Title"] = "NASA EPIC Images";
}

<div class="container">
    <div class="card mb-5">
        <div class="card-header">EPIC Images API <i id="epicInfo" class="fa fa-info-circle fa-pull-right"  data-toggle="popover"></i></div>
        <div class="card-body">
            @*@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col">
                        @Html.Editor("EarthDate", new { htmlAttributes = new { @class="form-control", placeholder = "Earth Date", autocomplete="off" } })
                        @Html.ValidationMessage("EarthDate", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }*@
        </div>
    </div>
    
    @if (Model != null)
    {
        @if (Model.Count() > 0)
        {
            @foreach (var photo in Model)
            {
                <div class="card mt-5">
                    <div class="card-header text-white bg-info">Info for Image: @photo.Name</div>
                    <div class="card-body">
                        <p>Taken At: @photo.Date.ToString("dd-MM-yyyy HH:mm:ss")</p>
                    </div>
                </div>
                <img src="data:image/jpeg;base64,@photo.ImageData" alt="" title="@photo.Caption">
            }
        }
        else
        {
            <div class="alert alert-primary" role="alert">
                <p>No results!!</p>
            </div>
        }
    }
</div>

@section scripts {
    <script src="~/js/epicImage.js"></script>
}