@model IEnumerable<Nasa.Apod.DataAccess.Data.MarsRoverPhoto>;

@{
    ViewData["Title"] = "Mars Rover Photo";
}

<div class="container">
    <div class="card mb-5">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col">
                        @Html.DropDownList("Rover", new SelectList(ViewBag.Rovers, "Value", "Text"), "Select a rover", new { @class="form-control" })
                        @Html.ValidationMessage("Rover", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        @Html.DropDownList("Camera", new SelectList(ViewBag.RoverCameras, "Value", "Text"), "Select a camera",  new { @class="form-control" })
                        @Html.ValidationMessage("Camera", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        @Html.Editor("EarthDate", new { htmlAttributes = new { @class="form-control", placeholder = "Earth Date", autocomplete="off" } })
                        @Html.ValidationMessage("EarthDate", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
    
    @if (Model != null)
    {
        @if (Model.Count() > 0)
        {
            <h1>@Model.First().Rover.Name</h1>
            <h3>Launch Date: @Model.First().Rover.LaunchDate.ToString("dd-MM-yyyy")</h3>
            <h3>Landing Date: @Model.First().Rover.LandingDate.ToString("dd-MM-yyyy")</h3>
            @foreach (var photo in Model)
            {
                <div class="row">
                    <div class="col-md-12">
                        <h3>Martian Day: @photo.MartianDay - Earth Date: @photo.EarthDate.ToString("dd-MM-yyyy")</h3>
                        <img src="@photo.Url" />
                        <p>This photo was taken using the on board camera @photo.Camera.FullName (@photo.Camera.Name)</p>
                    </div>
                </div>
                <hr />
            }
        }
        else
        {
            <div class="alert alert-primary" role="alert">
                <p>No results for this Rover/Camera/Date!!</p>
            </div>
        }
    }
</div>

@section scripts {
    <script src="~/js/marsRoverPhoto.js"></script>
}