@model IEnumerable<Nasa.Apod.DataAccess.Data.MarsRoverPhoto>;

@{
    ViewData["Title"] = "RoverPhoto";
}

<div class="container">
    <h1>@Model.First().Rover.Name</h1>
    <h3>Launch Date: @Model.First().Rover.LaunchDate.ToString("dd-MM-yyyy")</h3>
    <h3>Landing Date: @Model.First().Rover.LandingDate.ToString("dd-MM-yyyy")</h3>
    @foreach (var photo in Model)
    {
        <div class="row">
            <div class="col-md-12">
            <h3>Martian Day: @photo.MartianDay - Earth Date: @photo.EarthDate.ToString("dd-MM-yyyy")</h3>
            <img src="@photo.Url" />    
            <p>This photo was taken using the on board camera @photo.Camera.FullName (@photo.Camera.Name)</p>
            </div>
        </div>
        <hr/>
    }
</div>



